.cell {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid black;
  cursor: default;
  vertical-align: middle;
}

.exposed {
  background-color: #a1a1a1;
}

.blank {
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-left-color: white;
  border-top-color: white;
  cursor: pointer;
}

.mine {
  background-color: red;
}

.flagged {
  
}