.smileyContainer {
  cursor: pointer;
  flex-basis: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
}

.smiley {
  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url('./smileys.png') no-repeat;
  background-size: 200%;
}

.READY {
  background-position: -5% -5%;
}

.INPROGRESS {
  background-position: -5% -5%;
}

.CLICKING {
  background-position: 105% -5%;
}

.LOST {
  background-position: 105% 105%;
}

.WON {
  background-position: -5% 105%;
}
