
#react-paginate ul {
  display: inline-block;
}


#react-paginate li {
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}

#react-paginate li:hover {
  color: blue;
}